<!DOCTYPE html>
<html>
    <head>
        <title>Circuit Imaging</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600|Homemade+Apple' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--lock layout to the size of the window, so user doesn't have to zoom-->
    </head>
    <body align="center" style="padding: 200px 0px"> 
            <h1>
              Circuit Imaging
            </h1>
            <h2>
             Circuits at the speed of light. 
            </h2>
			
			<p>
			Circuit Imaging is developing direct imaging systems capable of imaging PC boards significantly faster than anything currently on the market. The throughput of our imaging systems is also scalable.  In addition to the high throughput, our patented technology includes entry level models that enable film based PCB manufacturing companies to upgrade to direct imaging.  Furthermore, each machine is directly connected to Microsoft Azure, enabling real time monitoring and analytics to provide predictive maintenance and auto-repair functionality with each machine leveraging Azure IoT.  Finally, with "circuit boards at the speed of light," our system includes patented high-speed board handling processes.
			</p>
    </body>
</html>
<!--
--- 
layout: landing_page
keywords: startups, strategy, consulting, ideas
owner: IntelliTect
---

{% assign offerings = site.data.value.offerings %}
{% assign offerings-top-x-limit = site.data.value.offerings-top-x-limit %}
{% assign testimonials = site.data.value.testimonials %}
{% assign skills = site.data.value.skills %}
{% include master.svg %}

<div class="home">
  <h1>
    {{ site.data.value.intro.header }}
  </h1>
  <p class="description">
    {{ site.data.value.intro.description }}
  </p>
  <div id=offering-container>
    {% for offering in offerings %}
      <div id="offering{{ forloop.index }}" class="offerings">
        <p class="offering-title">{{ offering.name }}</p>
        <p class="offering-elevator-pitch">{{ offering.elevator-pitch }}</p>
        {% for value in offering.value limit: offerings-top-x-limit %}
          <div class="offering-icon-container">
            <svg class="offering-icon {{ value.icon }}"><use xlink:href="#{{ value.icon }}"></use></svg>
            <div class="offering-item">
              <p class="offering-value-title">{{ value.title }}</p>
              <p class="offering-value">{{ value.description }}</p>
            </div>
          </div>
        {% endfor %}
        <a href="{{ offering.link }}" target="_blank" class="button">More Features</a>
      </div>
    {% endfor %}
  </div>
  <div class="gray">
    <h1></h1>
    <ul class="boxlist">
      {% for testimonial in testimonials %}
        <li class="testimonial-component">
          <p class="list-description">"{{ testimonial.testimonial }}"</p>
          <p class="signature">
            {{ testimonial.name }}
          </p>
          <p class="company">
            {{ testimonial.position }}, {{ testimonial.company }}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% include contact-form.html %}
</div>
-->
