
{% assign offerings = site.data.value.offerings %}
{% include master.svg %}

{% assign solution = offerings | where: 'link', page.permalink %}
{% assign solution = solution[0] %}

<p class="solution-elevator-pitch">{{ solution.elevator-pitch }}</p>
{% if solution.main-image %}
<div class="solution-image-main solution-image">
	<img src="{{ solution.main-image | prepend: site.baseurl }}">
</div>
{% endif %}
<div id="solution-item-container">
	<div id="offering1" class="offerings">
		{% for value in solution.value limit: 4 %}
			<div class="offering-icon-container solutions">
				<svg class="offering-icon {{ value.icon }}"><use xlink:href="#{{ value.icon }}"></use></svg>
				<div class="offering-item">
					<p class="offering-value-title">{{ value.title }}</p>
					<p class="offering-value">{{ value.description }}</p>
				</div>
			</div>
		{% endfor %}
		{% if solution.image2 %}
			<img class="solution-image" src="{{ solution.image2 | prepend: site.baseurl }}">
		{% endif %}
	</div>
	<div id="offering2" class="offerings">
		{% if solution.image1 %}
			<img class="solution-image" src="{{ solution.image1 | prepend: site.baseurl }}">
		{% endif %}
		{% for value in solution.value %}
			{% if forloop.index > 4 %}
				<div class="offering-icon-container solutions">
					<svg class="offering-icon {{ value.icon }}"><use xlink:href="#{{ value.icon }}"></use></svg>
					<div class="offering-item">
						<p class="offering-value-title">{{ value.title }}</p>
						<p class="offering-value">{{ value.description }}</p>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% include contact-form.html %}